html {
  font-size: 62.5%;
  overflow: scroll;
}
body {
  font-family: "rubik", sans-serif;
  color: #171a20;
  position: relative;
  /* overflow: hidden; */
}
html,
body {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
header {
  height: 100vh;
  /* width: 100%; */
}
/* .header-one,
.header-two,
.header-three,
.header-four,
.header-five,
.header-six,
.header-seven {
  height: 100vh;
  background-size: 100vh;
} */
.scroll {
  /* position: absolute; */
  position: fixed;
  top: 0;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.nav-spacing {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  /* margin-top: 4.8rem; */
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.2rem 1fr 8fr;
}
.second-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 4rem 1fr;
}
ul {
  list-style-type: none;
}
header {
  height: 100vh;
}
.links:link,
.links:visited {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
}
.mobile-nav {
  display: none;
}
.mobile-nav-button {
  display: none;
}
.close-mobile-nav {
  border: none;
  background: none;
  position: absolute;
  top: 3.4rem;
  right: 1.2rem;
}
.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  color: #333;
  display: none;
}
.more-link-head,
.more-links {
  display: none;
}

/* .scroll-container { */
/* overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory; */
/* } */
.section-img {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* position: relative; */
}
.section-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
/* img {
  min-width: 100vw;
  min-height: 100vh;
} */
/* preloader */
@import url("https://fonts.googleapis.com/css?family=Exo:300");

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 100;
  transition: all 0.5s;
}

.wrap-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.loader {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.loader::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.6956521739rem;
  height: 8.6956521739rem;
  background: #000;
  border-radius: 50%;
}
.loader .box {
  position: absolute;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.loader .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.1;
}
.loader .box:nth-child(1) {
  top: 0;
  left: 0;
}
.loader .box:nth-child(1)::before {
  top: 50%;
  left: 50%;
  background: #4185f3;
  -webkit-animation: lightMe1 4s ease-out infinite normal;
  animation: lightMe1 4s ease-out infinite normal;
}
.loader .box:nth-child(2) {
  top: 0;
  right: 0;
}
.loader .box:nth-child(2)::before {
  top: 50%;
  right: 50%;
  background: #33a753;
  -webkit-animation: lightMe2 4s ease-out infinite normal;
  animation: lightMe2 4s ease-out infinite normal;
}
.loader .box:nth-child(3) {
  bottom: 0;
  right: 0;
}
.loader .box:nth-child(3)::before {
  bottom: 50%;
  right: 50%;
  background: #fabb04;
  -webkit-animation: lightMe3 4s ease-out infinite normal;
  animation: lightMe3 4s ease-out infinite normal;
}
.loader .box:nth-child(4) {
  bottom: 0;
  left: 0;
}
.loader .box:nth-child(4)::before {
  bottom: 50%;
  left: 50%;
  background: #e94234;
  -webkit-animation: lightMe4 4s linear infinite normal;
  animation: lightMe4 4s linear infinite normal;
}
.loader .wrap-text {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.loader .text {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-animation: slider 8s ease-in infinite;
  animation: slider 8s ease-in infinite;
}
.loader .text span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2em;
  color: #fff;
  padding-left: 0;
}

.loader-text {
  color: #fff;
  transform: translateY(-2rem);
  letter-spacing: 6px;
  opacity: 0.2;
  -webkit-animation: blink 1s ease-out infinite alternate;
  animation: blink 1s ease-out infinite alternate;
}

@-webkit-keyframes lightMe1 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lightMe1 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe2 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe2 {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe3 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe3 {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightMe4 {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightMe4 {
  0% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slider {
  0% {
    transform: translateY(0);
  }
  10.5% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-40px);
  }
  23% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-80px);
  }
  37.5% {
    transform: translateY(-120px);
  }
  47.5% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-160px);
  }
  60% {
    transform: translateY(-160px);
  }
  62.5% {
    transform: translateY(-200px);
  }
  72.5% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-240px);
  }
  85% {
    transform: translateY(-240px);
  }
  87.5% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-280px);
  }
}
@keyframes slider {
  0% {
    transform: translateY(0);
  }
  10.5% {
    transform: translateY(0);
  }
  12.5% {
    transform: translateY(-40px);
  }
  23% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(-80px);
  }
  35% {
    transform: translateY(-80px);
  }
  37.5% {
    transform: translateY(-120px);
  }
  47.5% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-160px);
  }
  60% {
    transform: translateY(-160px);
  }
  62.5% {
    transform: translateY(-200px);
  }
  72.5% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(-240px);
  }
  85% {
    transform: translateY(-240px);
  }
  87.5% {
    transform: translateY(-280px);
  }
  100% {
    transform: translateY(-280px);
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}
@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.75;
  }
}
